@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<main class="posts-listing col-lg-12">
    <div class="container">
        <div class="row">

            @foreach (var article in Model.Articles)
            {
                <div class="post col-md-4">
                    <div class="post-thumbnail">
                        <a asp-page="./ArticleDetail" asp-route-id="@article.Id">
                            <img src="/img/@article.Image" alt="@article.Title" class="img-fluid">
                        </a>
                    </div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">
                            <div class="text-sm">@article.CreationDate</div>
                            <div class="category">
                                <a class="text-sm" href="#">@article.CategoryName</a>
                            </div>
                        </div>
                        <a asp-page="./ArticleDetail" asp-route-id="@article.Id">
                            <h3 class="h4">@article.Title</h3>
                        </a>
                        <p class="text-muted">@article.ShortDescription</p>
                        <div class="comments meta-last"><i class="icon-comment"></i>@article.CommentsCount</div>
                    </div>
                </div>
            }

        </div>
    </div>
</main>

@section Hero{
    <!-- Hero Section-->
    <section style="background: url(img/hero.jpg); background-size: cover; background-position: center center" class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1>A Concrete Design with Onion Architecture</h1><a href="#" class="hero-link">Discover More</a>
                </div>
            </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
        </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="h3">Some great intro here</h2>
                    <p class="text-big">
                        This Web Application is designed with <strong>Onion Architecture</strong> and contains Article Category, Article and Comments management panel for administration.
                        <p>
                            You can choose below articles for further demonstrations.
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </section>
}